/*event.css*/
.table_head th{
  font-size:16px;
  width:auto;
  height:20px;
  text-align:center;
  vertical-align:middle;
  border-bottom:0.5px solid #000000;
}

#th_0{
  border-bottom-color:#FFFFFF;
}

.group_table table{
  background-color: #AAD2FA;
}

.group_table thead{
  background-color: #FFFFFF;
}

.group_table th{
  background-color: #FFFFFF;
}

.col_header{
  font-size:10px;
  width:30px;
  text-align:right;
  vertical-align:top;
  border-right:0.5px solid #000000;
}

td{
  width:45px;
  height:9px;
  background-color:#AAD2FA;
  border-right:0.5px solid #000000;
}

.tr_1 td{
  border-bottom:0.5px dashed #000000;
}

.tr_3 td{
  border-bottom:0.5px solid #000000;
}

.highlighted{
  background-color:#7C85FF;
}

.tables {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
}

.color{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 65px repeat(2, auto) 90px;
  background-color: #AAD2FA;
}

#available{
  text-align: left;
  background-color: #FFFFFF;
}

#not_available{
  text-align: right;
  background-color: #FFFFFF;
}

.spectrum{
  background-color: #7C85FF;
}
