/*calendar.css*/
body{
  margin:0;
  font-family: 'Dosis', 'Nanum Gothic', sans-serif;
}

.menu_grid{
  display: grid;
  grid-template-columns: repeat(6,16vw);
  grid-template-rows: 75px;
  text-align: center;
  grid-gap: 10px;
  margin-top:10px;
  margin-left: 10px;
  margin-right: 10px;
}

img{
  height: 70%;
  margin-top: 5%;
}

.main_grid{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: calc(100vh - 85px - 20px);
}

.tails{
  background: #CAD0E9;
  color: #645D79;
  text-align: center;
}
.name{
  background: #FFFFFF;
  margin-left: 10px;
  width: 400px;
  padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
  border-radius: 10px 10px 10px 10px;
}
.chatlist{
  border-radius: 10px 10px 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  margin: 2px;
  border: none;
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  width: 400px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chatlist:hover {
	background-color: rgba(10, 133, 169, 0.5);
}
.chatroom {
  border-radius: 10px 10px 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  margin: 2px;
  border: none;
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  width: 400px;
  cursor: pointer;
  position: absolute;
  float: right;
}
.desc{
  background-color: none;
  margin: 2px;
  border: none;
  color: black;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  display: inline-block;
  width: 250px;
}
.time{
  color: #645D79;
  float: right;
  text-align: right;
  width: 100px;
  position: absolute;
  right: 0;
  font-size: 12px;
}
#main{
  /* border: 30px solid #C8BBB0; */
  background-color: rgba(10, 133, 169, 0.5);
}

#m_home{
  background: #C8BBB0;
  border-radius: 30px 30px 0 0;
}

#m_table{
  background: #777E8E;
  border-radius: 30px 30px 0 0;
}

#m_calen{
  background: #FEB24F;
  border-radius: 30px 30px 0 0;
}

#m_about{
  background: #CAD0E9;
  border-radius: 30px 30px 0 0;
}

#m_page{
  background: rgba(10, 133, 169, 0.5);
  border-radius: 30px 30px 0 0;
}

#m_logout{
  background: #B3DFEB;
  border-radius: 30px 30px 0 0;
}
